#misspiggy {
    width: 300px;
}
body {
    background-color: rgb(169, 255, 226);
}

h1 {
    color: rgb(60, 129, 134);
}
h2 {
    color: cadetblue;
}

h3 {
    color: cadetblue;
}
div{
    text-align: center;
}